{% load staticfiles %}

<section class="food-hero">

    <!-- Food 1 -->
    <figure class="food-item">
        <img src="{% static 'cali/img/food/food_one.jpg' %}" alt="food">
    </figure>

    <!-- Food 2 -->
    <figure class="food-item">
        <img src="{% static 'cali/img/food/food_two.jpg' %}" alt="food">
    </figure>

    <!-- Food 3 -->
    <figure class="food-item">
        <img src="{% static 'cali/img/food/food_three.jpg' %}" alt="food">
    </figure>

    <!-- Food 4 -->
    <figure class="food-item">
        <img src="{% static 'cali/img/food/food_four.jpg' %}" alt="food">
    </figure>

    <!-- Food 5 -->
    <figure class="food-item">
        <img src="{% static 'cali/img/food/food_five.jpg' %}" alt="food">
    </figure>

    <!-- Food 6 -->
    <figure class="food-item">
        <img src="{% static 'cali/img/food/food_six.jpg' %}" alt="food">
        <figcaption class="port-desc">
    </figure>

    <!-- Food 7 -->
    <!-- <figure class="food-item">
        <img src="{% static 'cali/img/food/food_one.jpg' %}" alt="food">
    </figure> -->

    <!-- Food 8 -->
    <!-- <figure class="food-item">
        <img src="{% static 'cali/img/food/food_one.jpg' %}" alt="food">
    </figure> -->



</section>

<footer class="contact-hero">

    <div class="col-1">
        <ul class="unstyled-list">
            <li><strong>CONTACT US</strong></li>
            <li><a href="https://www.google.com/maps/place/627+S+Central+Ave,+Los+Angeles,+CA+90021/@34.0384767,-118.2425403,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2c63aae466f27:0x8ad1f931094fbca0!8m2!3d34.0384723!4d-118.2403463">627 S. Central Ave. Los Angeles, CA 90021</a></li>
            <li>T: 213.786.3333 ext 2</li>
            <li class="book"><a href="/reservation">Thirsty Cali Reservation</a></li>
        </ul>
    </div>

    <div class="col-1">
        <ul class="unstyled-list">
            <li><strong>OPENING HOURS</strong></li>
            <li>Sunday - Saturday 11am-1:45am</li>
            <li>Closed for most major holidays</li>
        </ul>
    </div>

    <div class="col-1">
        <ul class="unstyled-list">
            <li><strong>CONNECT</strong></li>
            <li class="icons">
                <a href="mailto:suykim21@gmail.com" class="ion-ios-email-outline"></a>
                <a href="https://github.com/Suykim21" class="ion-social-github" target="_blank"></a>
                <a href="https://www.linkedin.com/in/stevekimdev/" class="ion-social-linkedin-outline" target="_blank"></a>
            </li>
            <li class="back"><a href="#back" class=ion-arrow-up-c></a></li>
        </ul>
    </div>

</footer>